@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@font-face {
  font-family: icons;
  src: url(fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block
}
[class*=" _icon-"],
[class^=_icon-] {
  font-family: icons!important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-favorite:before {
  content: "\e900"
}
._icon-location:before {
  content: "\e901"
}
._icon-user:before {
  content: "\e902"
}
._icon-cart:before {
  content: "\e903"
}
:root {
  --primary: #CF102D
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 108.25rem;
  margin: 0 auto;
  padding: 0 1.75rem
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: 1px solid #eee;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.menu {
  display: flex;
  flex: 0 1 47.5rem
}
.menu__body {
  width: 100%
}
.menu__body ul {
  display: flex;
  align-items: center;
  gap: .625rem 2rem;
  justify-content: space-between
}
.menu__body a {
  line-height: 1.1;
  color: #000;
  transition: color .3s
}
.menu__body a:hover {
  color: var(--primary)
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header__center [class*=__container] {
  padding: 0 .9375rem;
  max-width: 100rem
}
.header-logo {
  position: relative;
  padding: 0 3.75rem;
  background-color: var(--primary)
}
.header-logo img {
  max-width: 22.8125rem;
  min-width: 13.75rem;
  width: 100%
}
.header-logo .logo {
  background-color: #fff;
  padding: 0 2.5rem;
  position: relative
}
.header-logo .logo::after,
.header-logo .logo::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 3.375rem;
  pointer-events: none
}
.header-logo .logo::before {
  content: "";
  left: -15%;
  background: url(../img/header-lines/left-line.webp) 0 0 no-repeat
}
.header-logo .logo::after {
  content: "";
  right: -90%;
  background: url(../img/header-lines/left-line.webp) 0 0 no-repeat
}
.header-contacts__phone {
  font-weight: 500
}
.header-contacts__schedule {
  font-weight: 500
}
.header-actions {
  flex: 0 1 15.9375rem
}
.header-actions__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem
}
.header-actions__item {
  display: inline-flex;
  flex-direction: column
}
.header-actions__item .action-item__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .25rem
}
.header-actions__item .action-item__svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all .3s
}
.header-actions__item .action-item__caption {
  font-size: .625rem;
  text-align: center;
  transition: color .3s
}
.header__top {
  padding: 1.25rem 0
}
.location-block {
  position: relative;
  display: inline-flex
}
.location-block__button {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.25rem;
  padding: .5rem 1rem;
  border-radius: .375rem;
  transition: all .3s
}
.location-block__button:hover {
  background-color: var(--primary);
  color: #fff
}
.location-block__button:hover::after {
  background-color: #fff
}
.location-block__button::after {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  transition: all .3s;
  background-color: #000;
  -webkit-mask: url(../img/icons/location.svg) 0 0/cover no-repeat
}
.open .location-block__button {
  background-color: var(--primary);
  color: #fff
}
.open .location-block__button::after {
  background-color: #fff
}
.location-block__list {
  position: absolute;
  top: 100%;
  transition: all .3s;
  opacity: 0;
  z-index: 3;
  width: 100%;
  border: 1px solid rgba(34,39,37,.1);
  border-radius: .375rem;
  overflow: hidden;
  box-shadow: 0 4px 18px 0 rgba(18,18,18,.06);
  background: #fff;
  pointer-events: none
}
.location-block__list a {
  padding: .75rem 1rem;
  display: block;
  font-size: 1.25rem;
  transition: all .3s;
  border-bottom: 1px solid rgba(18,18,18,.06)
}
.location-block__list a:hover {
  background-color: var(--primary);
  border-bottom-color: var(--primary);
  color: #fff
}
.location-block__list a:last-child {
  border-bottom-color: transparent
}
.open .location-block__list {
  opacity: 1;
  top: calc(100% + 15px);
  pointer-events: auto
}
.populars-goods__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap
}
@media (min-width:61.99875em) {
  .menu__body a {
    font-size: 1.25rem
  }
}
@media (min-width:90em) {
  .header-logo img {
    height: 3.375rem
  }
  .header-contacts__phone {
    font-size: 1.25rem
  }
  .header-contacts__schedule {
    font-size: .9375rem
  }
}
@media (max-width:90em) {
  .header-contacts__phone {
    font-size: .625rem
  }
  .header-contacts__schedule {
    font-size: .5rem
  }
}
@media (max-width:61.99875em) {
  .menu__body a {
    font-size: 1.125rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (any-hover:hover) {
  .header-actions__item:hover .action-item__svg {
    color: var(--primary);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
  .header-actions__item:hover .action-item__caption {
    color: var(--primary)
  }
}